.openapi-generator
/**/.settings
/**/.classpath
/**/.project

/python/release
/java/build/generated/openapi
/java/build/generated/project
/typescript-fetch/build/generated
/csharp-unity/build/generated

