{{>licenseInfo}}
package {{package}};

import {{invokerPackage}}.ApiException;
{{#imports}}import {{import}};
{{/imports}}
import org.junit.Test;
import org.junit.Before;
import org.junit.After;
import org.testcontainers.junit.jupiter.Testcontainers;
import org.testcontainers.junit.jupiter.Container;
import org.junit.experimental.runners.Enclosed;
import org.junit.runner.RunWith;
import org.junit.runners.Parameterized;
import org.junit.runners.Parameterized.Parameters;
import java.nio.file.Path;

import java.util.ArrayList;
import java.util.HashMap;
import java.util.List;
import java.util.Map;
import java.util.Set;

import org.eclipse.digitaltwin.basyx.v3.clients.api.BasyxTestRunner.BasyxFunctionalTestDefinition;
import org.eclipse.digitaltwin.basyx.v3.clients.api.BasyxTestRunner.BasyxListTestDefinition;
import org.eclipse.digitaltwin.basyx.v3.clients.api.BasyxTestRunner.BasyxVoidTestDefinition;
import org.eclipse.digitaltwin.basyx.v3.clients.api.BasyxTestRunner.BasyxTestValues;
import org.eclipse.digitaltwin.aas4j.v3.dataformat.json.JsonMapperFactory;
import org.eclipse.digitaltwin.aas4j.v3.dataformat.json.SimpleAbstractTypeResolverFactory;
import com.fasterxml.jackson.databind.ObjectMapper;
import com.fasterxml.jackson.databind.module.SimpleAbstractTypeResolver;

import org.eclipse.digitaltwin.aas4j.v3.model.AssetAdministrationShellDescriptor;
import org.eclipse.digitaltwin.aas4j.v3.model.SubmodelDescriptor;

{{#asyncNative}}
import java.util.concurrent.CompletableFuture;
{{/asyncNative}}

{{#useBeanValidation}}
import jakarta.validation.constraints.*;
import jakarta.validation.Valid;

{{/useBeanValidation}}
/**
 * API tests for {{classname}}
 */
public class {{classname}}Test {


    public {{classname}}Test() {
    }

    private static String getPropertyOrThrow(String propName) {
    	String prop = System.getProperty(propName);
	    if (prop == null) {
	    	throw new IllegalArgumentException("Property '" + propName + "' not set.");
	    }
	    return prop;
    }

    {{#operations}}{{#operation}}
    @RunWith(Parameterized.class)
    public static class {{#lambda.titlecase}}{{operationId}}{{/lambda.titlecase}} extends AbstractBasyxTest {

        private {{classname}} api;
        private final BasyxTestRunner runner;
        private final Basyx{{#returnType}}{{#isArray}}List{{/isArray}}{{^isArray}}Functional{{/isArray}}{{/returnType}}{{^returnType}}Void{{/returnType}}TestDefinition<{{#lambda.titlecase}}{{operationId}}{{/lambda.titlecase}}Params{{#returnBaseType}}, {{{returnBaseType}}}{{/returnBaseType}}> def;

        public {{#lambda.titlecase}}{{operationId}}{{/lambda.titlecase}}(String testName, Basyx{{#returnType}}{{#isArray}}List{{/isArray}}{{^isArray}}Functional{{/isArray}}{{/returnType}}{{^returnType}}Void{{/returnType}}TestDefinition<{{#lambda.titlecase}}{{operationId}}{{/lambda.titlecase}}Params{{#returnBaseType}}, {{{returnBaseType}}}{{/returnBaseType}}> def, BasyxTestRunner runner) {
            this.runner = runner;
            this.def = def;
        }

        @Before
        public void init() {
            this.api = new {{classname}}(MAPPER, ENVIRONMENT.get{{#lambda.titlecase}}{{#lambda.camelcase}}{{{testIdentifier}}}{{/lambda.camelcase}}{{/lambda.titlecase}}Url());            
        }

        @Parameters(name="{0}")
        public static List<Object[]> initialize() {
            Path testFolder = Path.of(getPropertyOrThrow("basyxtest.folder"), "{{{testIdentifier}}}");
            ArrayList<Object[]> config = new ArrayList<>();
            BasyxTestRunner runner = new BasyxTestRunner(ENVIRONMENT, MAPPER, testFolder);
            List<Basyx{{#returnType}}{{#isArray}}List{{/isArray}}{{^isArray}}Functional{{/isArray}}{{/returnType}}{{^returnType}}Void{{/returnType}}TestDefinition<{{#lambda.titlecase}}{{operationId}}{{/lambda.titlecase}}Params{{#returnBaseType}}, {{{returnBaseType}}}{{/returnBaseType}}>> defs = runner.load{{#returnType}}{{#isArray}}List{{/isArray}}{{^isArray}}Functional{{/isArray}}{{/returnType}}{{^returnType}}Void{{/returnType}}TestDefinition("{{operationId}}", {{#lambda.titlecase}}{{operationId}}{{/lambda.titlecase}}Params.class{{#returnBaseType}}, {{{returnBaseType}}}.class{{/returnBaseType}});
            for (Basyx{{#returnType}}{{#isArray}}List{{/isArray}}{{^isArray}}Functional{{/isArray}}{{/returnType}}{{^returnType}}Void{{/returnType}}TestDefinition<{{#lambda.titlecase}}{{operationId}}{{/lambda.titlecase}}Params{{#returnBaseType}}, {{{returnBaseType}}}{{/returnBaseType}}> eachDef : defs) {            
        	    config.add(new Object[] {eachDef.getName(), eachDef, runner});
            }            
        	return config;
        }

        /**
        * {{summary}}
        *
        * {{notes}}
        *
        */
        @Test
        public void {{operationId}}Test() throws ApiException {                
           runner.runAndAssertWith{{#returnType}}{{#isArray}}List{{/isArray}}{{^isArray}}Functional{{/isArray}}{{/returnType}}{{^returnType}}Void{{/returnType}}Result(def, this::{{operationId}});            
        }
        
        private {{#returnType}}{{{returnType}}}{{/returnType}}{{^returnType}}void{{/returnType}} {{operationId}}({{#lambda.titlecase}}{{operationId}}{{/lambda.titlecase}}Params params) throws ApiException {
            {{#vendorExtensions.x-return-byte-stream}}
            java.io.InputStream in = api.{{operationId}}({{#allParams}}params.get{{#lambda.titlecase}}{{paramName}}{{/lambda.titlecase}}(){{^-last}}, {{/-last}}{{/allParams}});
            try {
				Path temp = java.nio.file.Files.createTempFile("{{operationId}}", ".tmp");
				java.nio.file.Files.copy(in, temp, java.nio.file.StandardCopyOption.REPLACE_EXISTING);
				return temp.toFile();
			} catch (java.io.IOException e) {
				throw new ApiException(e);
			}            
            {{/vendorExtensions.x-return-byte-stream}}
            {{^vendorExtensions.x-return-byte-stream}}
            {{#returnType}}return {{/returnType}}api.{{operationId}}({{#allParams}}params.get{{#lambda.titlecase}}{{paramName}}{{/lambda.titlecase}}(){{^-last}}, {{/-last}}{{/allParams}});
            {{/vendorExtensions.x-return-byte-stream}}            
        }
    }
    {{/operation}}
    {{/operations}}
    {{#operations}}
    {{#operation}}
    private static class {{#lambda.titlecase}}{{operationId}}{{/lambda.titlecase}}Params implements BasyxTestValues {

        {{#allParams}}
        private {{>base64-aware-dataType}} {{paramName}};
        {{/allParams}}
        {{#allParams}}
        @SuppressWarnings("unused")
        public void set{{#lambda.titlecase}}{{paramName}}{{/lambda.titlecase}}({{>base64-aware-dataType}} {{paramName}}) {
            this.{{paramName}} = {{paramName}};
        }
        {{/allParams}}
        {{#allParams}}

        public {{>base64-aware-dataType}} get{{#lambda.titlecase}}{{paramName}}{{/lambda.titlecase}}() {
            return this.{{paramName}};
        }
        {{/allParams}}
    }  
    {{/operation}}
    {{/operations}}
}    
