{{#vendorExtensions.x-utf8-base64-url-encoded-as-string}}{{#isArray}}List<{{/isArray}}String{{#isArray}}>{{/isArray}}{{/vendorExtensions.x-utf8-base64-url-encoded-as-string}}{{#vendorExtensions.x-utf8-base64-url-encoded-json-as-string}}{{#isArray}}List<{{/isArray}}String{{#isArray}}>{{/isArray}}{{/vendorExtensions.x-utf8-base64-url-encoded-json-as-string}}{{^vendorExtensions.x-utf8-base64-url-encoded-as-string}}{{^vendorExtensions.x-utf8-base64-url-encoded-json-as-string}}{{{dataType}}}{{/vendorExtensions.x-utf8-base64-url-encoded-json-as-string}}{{/vendorExtensions.x-utf8-base64-url-encoded-as-string}}