{{#vendorExtensions.x-utf8-base64-url-encoded-as-string}}ApiClient.base64UrlEncode{{#isArray}}List{{/isArray}}({{paramName}}){{/vendorExtensions.x-utf8-base64-url-encoded-as-string}}{{#vendorExtensions.x-utf8-base64-url-encoded-json-as-string}}ApiClient.base64UrlEncodeObject{{#isArray}}List{{/isArray}}({{paramName}}){{/vendorExtensions.x-utf8-base64-url-encoded-json-as-string}}{{^vendorExtensions.x-utf8-base64-url-encoded-as-string}}{{^vendorExtensions.x-utf8-base64-url-encoded-json-as-string}}{{paramName}}{{/vendorExtensions.x-utf8-base64-url-encoded-json-as-string}}{{/vendorExtensions.x-utf8-base64-url-encoded-as-string}}