{{#vendorExtensions.x-return-byte-stream}}InputStream{{/vendorExtensions.x-return-byte-stream}}{{^vendorExtensions.x-return-byte-stream}}{{#returnType}}{{{returnType}}}{{/returnType}}{{^returnType}}void{{/returnType}}{{/vendorExtensions.x-return-byte-stream}}